body{
    padding: 0;
    margin: 0;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
  width: 0;
  border: none;
  margin: 0;
}

.container{
    position: relative;
    margin: 0 auto;
    padding: 20px 5px;
    text-align: center;
    max-width: 600px;
}

.big_btn{
    color: white;
    background-color: green;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}
.nav_btn{
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    margin: 5px;
}

.small_btn{
    color: white;
    background-color: orange;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.small_red_btn{
    color: white;
    background-color: red;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    float: left;
    margin: 5px;
    width: 1em;
    height: 1em;
}

.title_link{
    text-decoration: none;
    color: #BA4A00;
}
.red_notification{
    color: red;
}
table{
    width: 100%;
}

.inner_container{
    width: 100%;
    padding: 0;
    margin: 20px 0;
}
.semaphore{
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
color: white;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
table{
    width: 100%;
}

td:nth-child(2), th:nth-child(2) {
    width: 3em;
    text-align: center;
}