body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;
  width: 0;
  border: none;
  margin: 0;
}

.container{
    position: relative;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 600px;
    min-height: 100vh;
}

.big_btn{
    color: white;
    background-color: #f98d40;
    display: block;
    border-radius: 50%;
    text-decoration: none;
    width: 100px;
    margin: 40px auto;
    line-height: 100px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.navbar{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid black;
}
.nav_btn{
    color: #f98d40;
    background-color: #3a3a3a;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    float: left;
    margin: 5px;
}

.small_btn{
    color: white;
    background-color: #f98d40;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
}

.small_red_btn{
    color: white;
    background-color: red;
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
    float: left;
    margin: 5px;
    width: 1em;
    height: 1em;
}

.title_link{
    text-decoration: none;
    color: #BA4A00;
}
.red_notification{
    color: red;
}
table{
    width: 100%;
}

.inner_container{
    width: 100%;
    padding: 0;
    margin: 20px 0;
}
.semaphore{
    color: white;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
table{
    width: 100%;
}
td p{
    text-align: center;
    margin: auto;
}

td:nth-child(1), th:nth-child(1) {
    text-align: left;
}

td:nth-child(2), th:nth-child(2) {
    width: 2em;
}

.to-bottom{
    position: absolute;
    bottom: 0;
    background-color: #e7d7c3;
    margin: 0;
}

h1{
    padding: 0.2em;
    margin: 0;
    height: 2.4em;
    font-size: 2em;
}