<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM120 NS Kod Za Otključavanje</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
<div class="box">
    <form method="POST" action="/authorize_nfc_code">
        <h1>Prisvojite kod</h1>
        <input type="hidden" name="token" value="{{ token }}">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="red_notification">
                {{ messages[0] }}
            </p>
        {% endif %}
        {% endwith %}
        <div>
            <div class="control disabled">
                <input type="text" id="code" name="code" placeholder="{{ code }}" readonly>
            </div>
            <div class="control">
                <input type="text" id="alias" name="alias" placeholder="Naziv" autofocus="">
            </div>
        </div>

        <button class="full-width">Primeni</button>
    </form>
</div>
</body>
</html>