<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>LT19 NS</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/index.css"/>
</head>
<body>
    <div class="container">
        <a href="/logout" class="nav_btn">Odjavi se</a>
        <h1>Laze Telečkog 19</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="red_notification">
                {{ messages[0] }}
            </p>
        {% endif %}
        {% endwith %}
        <a href="/unlock" class="big_btn">Otključaj</a>

        <form class="inner_container" method="POST" action="/get_temporary_unlock_link">
            <button class="small_btn">Generiši privremeni link</button>
            <label for="valid_until">Važi do:</label>
            <input type="date" id="valid_until" name="valid_until"
                   value="{{ end_date }}"
                   min="{{ start_date }}">
        </form>

        <div class="inner_container">
            {% if guest_links %}
            <h2>Lista privremenih linkova</h2>
            <table>
                <thead>
                    <td>
                        Važi do
                    </td>
                    <td>

                    </td>
                </thead>

                {% for link in guest_links %}
                    <tr>
                        <td>
                            <a href="/unlock?token={{ link.token }}">{{ link.valid_until }}</a>
                        </td>
                        <td>
                            <p></p><a href="/delete_temporary_unlock_link?link_token={{ link.token }}" class="small_red_btn">X</a></p>
                        </td>
                    </tr>
                {% endfor %}

            </table>
            {% endif %}
        </div>

        <div class="inner_container">
            {% if connected_devices %}
            <h2>Lista konektovanih brava</h2>
            <table>
                {% for device in connected_devices %}
                    <tr>
                        <td>
                            {{ device.name }}
                        </td>
                        <td>
                            {% if device.connected %}
                            <p class="semaphore green">+</p>
                            {% else %}
                            <p class="semaphore red">-</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>

        </div>

    </div>
</body>
<script src="static/index.js"></script>
</html>
