<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM120 NS novi nalog</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
<div class="box">
    <form method="POST" action="/new_account">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="red_notification">
                {{ messages[0] }}
            </p>
        {% endif %}
        {% endwith %}
        <div>
            <div class="control">
                <input type="text" name="email" placeholder="Vaša e-mail adresa" autofocus="">
            </div>
        </div>

        <div>
            <div class="control">
                <input type="text" name="apartment" placeholder="Broj stana">
            </div>
        </div>
        <button class="full-width">Pošalji</button>
    </form>
</div>
</body>
</html>