<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LT19 NS reset</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
<div class="box">
    <form method="POST" action="/reset_password">
        <div>
            <h1>Reset lozinke</h1>
            <div class="control">
                <input type="text" name="email" placeholder="E-mail adresa" autofocus="">
            </div>
        </div>

        <button class="full-width">Pošalji reset link</button>
    </form>
</div>
</body>
</html>