<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Door Lock Password Change</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
<div class="box">
    <form method="POST" action="/set_password">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <p class="red_notification">
                    {{ messages[0] }}
                </p>
            {% endif %}
            {% endwith %}
            <input type="hidden" name="token" value="{{ token }}">

            <div class="control">
                <input type="password" name="password_1" placeholder="Your Password">
            </div>
            <div class="control">
                <input type="password" name="password_2" placeholder="Reppeat The Password">
            </div>
        </div>
        <button class="full-width">Apply</button>
    </form>
</div>
</body>
</html>