<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM120 NS otključavanje</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/index.css"/>
</head>
<body>
    <div class="container">
        <a href="/" class="title_link"><h1>Veselina Masleše 120</h1></a>
        <hr>
        <h2>Ups...Vaš link je neispravan ili je istekao. Ulogujte se ponovo ili tražite novi link.</h2>
        <hr>
        <h2>Ups...Your link is bad or has expired. Please login or request a new link.</h2>
    </div>
</body>
</html>
