<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LT19NS</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/index.css"/>
</head>
<body>
    <div class="container">
        <a href="/" class="title_link"><h1>Laze Telečkog 19</h1></a>
        <hr>
        <h2>Dobrodošli</h2>
        <hr>
        <h2>Wellcome</h2>
    </div>
</body>
</html>
